.env
.node_modules
.__pycache__
.secret_key.json
.package-lock.json
.android/capacitor-cordova-android-plugins/src/main/AndroidManifest.xml
.android/capacitor-cordova-android-plugins/cordova.variables.gradle
.android/capacitor-cordova-android-plugins/build.gradle
.capacitor.config.json
.android/capacitor-cordova-android-plugins/build.gradle
.vscode
pyrightconfig.json
.webserver/__pycache__
*.pyc