bcrypt==4.3.0
fastapi==0.115.14
fastapi-mail==1.4.1
httpx==0.28.1
Jinja2==3.1.5
pydantic==2.11.7
pydantic-settings==2.10.1
pymongo==4.13.2
python-dotenv==1.1.0
python-jose==3.5.0
python-multipart==0.0.20
redis==6.2.0
requests==2.32.3
uvicorn==0.34.0
email-validator
aiofiles
uuid-utils
